################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YAORM/v15
/YAORM/.vs/YAORM/v15
/SQLDataStore/.vs/AuroraSQLDataStore/v15
